<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Dúvidas</h2>
            <h3 class="section-subheading text-muted">Perguntas frequentes sobre o evento</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-6">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-hand-peace-o fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">O que está incluso no valor da inscrição?</h4>
            <p class="text-muted">Está incluída a alimentação, a festa e a estadia no sítio (Dormir no local), assim como todas as outras atividades.</p>
        </div>
        <div class="col-md-6">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-info fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Qual o traje da noite da virada?</h4>
            <p class="text-muted">A definir A definir A definir A definir A definir A definir</p>
        </div>
        <div class="col-md-6">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Quem poderá ir?</h4>
            <p class="text-muted">A nossa proposta com este evento, como já mencionada anteriormente, é de criar e reafirmar vínculos de amizade fundamentadas na Palavra. Para termos o ambiente propício desejado, o nosso público será de discípulos, ou seja, para não corrermos nenhum risco e resguardar a vida dos irmãos presentes, não será permitida a presença de pessoas não compromissadas com a Palavra.</p>
        </div>
        <div class="col-md-6">
            <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">É só para jovens? (Sou casado e quero ir.)</h4>
            <p class="text-muted">Não, o público alvo são os solteiros, mas caso seja casado e queira ir sua presença será bem vinda. (favor ler a próxima pergunta)</p>
        </div>
        <div class="col-md-6">
          <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Sou casado e irei com minha família, terei quarto separado?</h4>
          <p class="text-muted">O sitio possui quartos separados (suítes), mas são de número limitado por isso não podemos garantir que haverão quartos disponíveis para todos os casados que irão. Mas, caso exista uma grande procura, podemos disponibilizar um alojamento feminino e outro masculino, apenas para pessoas mais velhas.</p>
        </div>
    </div>
</div>